%primary-button {
  /* transition: all 0.25s; */
  background: $buttonPrimaryBg1;
  box-shadow: none;
  color: $buttonColorPrimary;

  &.x-btn-focus,
  &.x-btn-over,
  &:hover {
    background: $buttonPrimaryBg1Hover;
    box-shadow: none;
    color: $buttonColorPrimaryHover;
  }

  &.x-btn-click,
  &:active {
    background: $buttonPrimaryBg1Active;
    box-shadow: none;
    color: $buttonColorPrimaryActive;
  }

  &.x-item-disabled,
  &.x-item-disabled:hover,
  &.x-item-disabled:active {
    background: $buttonPrimaryBg1;
    box-shadow: none;
    color: $buttonColorPrimaryDisabled;
    opacity: 0.6;
    filter: alpha(opacity=60); /* for IE <= 8 */
  }
}
