// Sterc SEO
.seopro-counter-wrap,
.seopro-panel {
  background-color: $darkestGray !important;
  border-color: $black !important;
}
#seopro-google-title {
  color: $colorSplash !important;
  background-color: $darkestGray !important;
}
#seopro-google-description{
  color: $white !important;
}
